#dataImprimir { 
    font-size: 5pt;
    /*font-family: 'Arial, Helvetica, sans-serif';*/
    font-family: 'Arial';
    letter-spacing: 0.02cm;
    margin: 0px;
    padding:0px;
}

.cabeceraSerieNumero{
    position: absolute;
    left: 13.8cm;
    top: 2.523cm;
}

.cabeceraFecha{
    left: 7.0cm;
    position: absolute;
    top:3.534cm;
}
.cabeceraPersona{
    position: absolute;
    left: 3cm;
    top:2.860cm;
}

.cabeceraTabla{
    position: absolute;
    left: 1.3cm;
    top:4.151cm;
}

.cabeceraPersonaCelda{
    height: 0.393cm;
}

.cabeceraTablaCelda{
    height: 0.309cm;
}

.cabeceraNumeroPedido{
    width: 3.7cm;
    text-align: center;
    display: table-cell;
}

.cabeceraGuiaRemitente{
    width: 3.1cm;
    text-align: center;
    display: table-cell;
}
.cabeceraCondiciones{
    width: 2cm;
    text-align: center;
    display: table-cell;
}
.cabeceraUnidadMonetaria{
    width: 3.5cm;
    text-align: center;
    display: table-cell;
}
.cabeceraFechaVencimiento{
    width: 3.3cm;
    text-align: center;
    display: table-cell;
}
.cabeceraFechaEmision{
    width: 4cm;
    text-align: center;
    display: table-cell;
}

.part-detalle {
    left: 1.3cm;
    position: absolute;
    top:4.825cm;
}
.detalleRow{
    height: 0.196cm;
}
.detalleRowCantidad{
    padding-right: 0.35cm;
    width: 1.44cm;
    text-align: right;
    display: table-cell;
}
.detalleRowDescripcion{
    padding-left: 0.45cm;
    width: 10.620cm;
    text-align: left;
    display: table-cell;
}

.detalleRowUnidad{
    width: 1.44cm;
    text-align: right;
    display: table-cell;
}

.detalleRowPU{
    width: 2.3cm;
    text-align: right;
    display: table-cell;
}
.detalleRowImporte{
    width: 2.14cm;
    text-align: right;
    display: table-cell;
}

.inlineItec {
    display: table-cell;
}
.pieTotalEnLetra{
    left: 2.3cm;
    position: absolute;
    top:8.082cm;
}

.pieImportes
{
    left: 17.10cm;
    position: absolute;
    top: 8.026cm;
}


.pieImportesImporte
{
    height: 0.393cm;
    text-align: right;
    width: 2.192cm;
}

.pieFecha{
    left: 6.60cm;
    text-align: center;
    position: absolute;
    top:8.924cm;
}

.pieIGV{
    left: 16.2cm;
    position: absolute;
    top:8.363cm;
}